.createRestaurant{
    width: 80%;
    height: 5vh;
    margin-top: 10rem;
    margin-left: 2.5rem;
    background-color: rgba(255, 224, 49, 1);
    border: none;
    border-radius: 15px;
    font-weight: bolder;
}
/* create */
.createAdmin{
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}
.info_createAdmin form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    padding: 1rem ;
    background-color: rgba(224, 221, 221, 0.637);
    border-radius: 15px;
    color: #5a5959;
    font-weight: bold;
    font-size: 14px;
}
.details_createAdmin{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details_createAdmin input {
    width: auto;
    border: none;
    border-radius: 5px;
    height: 100%;
    
}
.btn_create{
    width: 80%;
    height: 4vh;
    border: none;
    border-radius: 15px;
    background-color: rgba(255, 224, 49, 1);
    margin-left: 1.7rem;
    margin-top: 0.5rem;
}