.input_search{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 40px;
    background-color: rgba(242, 242, 242, 1);
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
    margin-left: 3rem;
    border-radius: 15px;
    padding-left: 20px;
    color: rgba(167, 167, 167, 1);
}
.imgLupa{
    width: 20px;
}