.slice1{
    width: 100%;
    height: 91vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.imgSlice1{
    width: 80%;

}
.title_slice1{
    font-size: 17px;
}
.butonSlice{
    width: 80%;
    height: 7vh;
    border-radius: 10px;
    border: none;
    background-color: #FFE031;
    margin-left: 3rem;
    margin-top: 5px;
}
.img_slice1{
    margin-left: 11rem;
    width: 10vw;
    margin-top: 2rem;
}